.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 2000px;
    gap: 15px;
    margin: 0 60px;
}

.apemeasure {
    display: block;
}

.colums {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.sortbar {
    grid-column: 2/3;
}

.ingredients {
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(164, 164, 164);
}

.amount {
    border-radius: 20px;
    background-color: rgb(128, 128, 128);
}

.btn_delete {
    justify-self: flex-end;
    border: 2px solid #373737;

    padding: 0;
    height: 1em;
    width: 1em;

    border-radius: 50%;
    background-color: brown;

    position: absolute;
    right: 5px;
}

.delete_items {
    position: relative;
}